{% extends 'headers/main.html' %}

{% block body %}
<div class="container" style="margin-top:15px">
    <h3>Example Home</h3>
    <div class="lorem">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ipsam assumenda autem explicabo repellat eos fugit nobis mollitia dolorum. Obcaecati tenetur soluta maxime aperiam hic rerum perferendis dolorem doloribus. Veritatis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, non alias quod rerum sint ad atque corporis odio eligendi nisi vero dolorum molestias tempore ex veniam sequi enim corrupti numquam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti dolorem assumenda magni nihil repellendus repudiandae alias in, possimus facere odit nesciunt, pariatur ullam dolorum. Sequi, modi id. Accusantium, officia veniam.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus, mollitia eligendi unde nam ea suscipit vero repudiandae, ducimus reiciendis rerum veniam excepturi autem sunt recusandae id adipisci debitis? Delectus, explicabo!
    </div>
</div>
{% endblock %}